
*{margin:0px;padding:0px;}
body{overflow-x:hidden}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	width:100%;
	height:100%;
/*	border:2px solid black;
*/}
header>.head{
	width:1110px;
	height:80px;
/*	border:2px solid red;*/
	margin:0px auto;
	position: relative;
}
header>.head>.logo{
	width:156px;
	height: 242px;
	background: url(../images/logo.png);
	display: inline-block;
	z-index: 100;
	position: absolute;
	top:0px;
	left:0px;
}
header>.head>ul{
	width:870px;
	height:100%;
/*	border:2px solid yellow;*/
	float: right;
}
header>.head>ul>li{
	float:left;
	width:112px;
	height: 100%;
	margin-right: 40px;
	line-height: 80px;
}
header>.head>ul>li>a{
	color:#000;
}
header>.head>ul>li>a:hover{
	color:red;
}
header>.head>ul>li:last-child{
	margin-right: -2px;
}
section{
	width:100%;
/*	border:2px solid blue;*/
}
section>.banner{
	width:1920px;
	height:675px;
	background: url(../images/banner.png);
	margin: 0px auto;
	position: relative;
}
section>.banner>.wjx{
	width:310px;
	height:285px;
	background: url(../images/五角星.png);
	margin:0px auto;
	margin-bottom: 40px;
}
section>.banner>p{
	width:870px;
	height: 80px;
	color:#fff;
	margin: 0px auto;
	line-height: 25px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 55px;
}
section>.banner>.djck{
	width:220px;
	height: 55px;
	border:2px solid #fff;
	margin:0px auto;
	text-align: center;
	line-height: 55px;
	margin-bottom: 65px;
}
section>.banner>.djck>a{
	color:#fff;
	font-size:30px;
}
section>.banner>.rcircle{
	width:150px;
	height: 30px;
/*	border:2px solid yellow;*/
	margin:0px auto;
}
section>.banner>.rcircle>div{
	float:left;
	margin-right: 25px;
}
section>.banner>.rcircle>.d3{
	margin-right: 0px;
}
section>.banner>.rcircle>.d1,.d3{
	width:30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
}
section>.banner>.rcircle>.d2{
	width:30px;
	height: 30px;
	border-radius: 50%;
	border:2px solid #fff;
}
section>.zhan{
	width:100%;
/*	border:2px solid black;*/
}
section>.zhan>.about{
	width:1110px;
	margin:0px auto;
/*	border:2px solid black;*/
	margin-bottom: 90px;
}
section>.zhan>.about>.about-top{
	width:390px;
	height: 60px;
/*	border:2px solid red;*/
	position: relative;
	margin-bottom: 70px;
	margin-top:80px;
}
section>.zhan>.about>.about-top>div{
	width: 5px;
	height: 100%;
	background:#B20000;
}
section>.zhan>.about>.about-top>h1{
	position: absolute;
	top:2px;
	left:10px;
}
section>.zhan>.about>.about-top>h6{
	position: absolute;
	top:40px;
	left:10px;
}
section>.zhan>.about>.about-middle{
	width:1070px;
	margin:0px auto;
/*	border:2px solid red;*/
	margin-bottom: 60px;
}
section>.zhan>.about>.about-middle>p{
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 40px;
	text-indent: 2em;
}
section>.zhan>.about>.about-p{
	width:1096px;
	height: 364px;
	background: url(../images/图层1.png);
	margin:0px auto;
}
section>.zhan>.qnwh{
	width: 1110px;
/*	border:2px solid black;*/
	margin:0px auto;
	margin-bottom: 75px;
}
section>.zhan>.qnwh>.qnwh-top{
	width:200px;
	height: 110px;
/*	border:2px solid black;*/
	margin:0px auto;
	text-align: center;
	margin-bottom: 100px;
}
section>.zhan>.qnwh>.qnwh-top>h1{
	letter-spacing: 5px;
	margin-bottom: 20px;
}
section>.zhan>.qnwh>.qnwh-top>div{
	width:120px;
	height:10px;
	background: #B20000;
	margin:10px auto;
}
section>.zhan>.qnwh>.qnwh-main{
	width:100%;
/*	border:2px solid blue;*/
}
section>.zhan>.qnwh>.qnwh-main>.p1{
	width:100%;
	height: 445px;
	background: url(../images/图层2.png) no-repeat;
	background-size:100%;
	margin-bottom: 100px;
}
section>.zhan>.qnwh>.qnwh-main>.p2{
	width:100%;
	height: 520px;
	background: url(../images/图层3.png) no-repeat;
	background-size:100%;
}
section>.zhan>.qyry{
	width: 1110px;
/*	border:2px solid black;*/
	margin:0px auto;
	margin-bottom: 75px;
}
section>.zhan>.qyry>.qyry-top{
	width:200px;
	height: 110px;
/*	border:2px solid black;*/
	margin:0px auto;
	text-align: center;
	margin-bottom: 70px;
}
section>.zhan>.qyry>.qyry-top>h1{
	letter-spacing: 5px;
	margin-bottom: 20px;
}
section>.zhan>.qyry>.qyry-top>div{
	width:120px;
	height:10px;
	background: #B20000;
	margin:10px auto;
}
section>.zhan>.qyry>.qyry-main{
	width:778px;
	height: 315px;
	background: url(../images/图层4.png);
	margin:0px auto;
}
footer{
	width:100%;
/*	border:2px solid black;*/
}
footer>.foot{
	width:1920px;
	height: 513px;
	background: url(../images/组1.png);
	overflow: hidden;
	margin: 0px auto;
}
footer>.foot>.foot-z{
	width:1110px;
	margin:0px auto;
/*	border:2px solid red;*/
	margin-top:130px;
}
footer>.foot>.foot-z:after{
	content: "";
	clear: both;
	display: block;
}
footer>.foot>.foot-z>dl{
	float: left;
	margin-right:150px;
	width:160px;
	height: 300px;
/*	border:2px solid black;*/
}
footer>.foot>.foot-z>dl:last-child{
	margin-right: 0px;
}
footer>.foot>.foot-z>dl>dt{
	font-size: 30px;
	color:#fff;
	letter-spacing: 5px;
	margin:0px auto;
	margin-left: -10px;
}
footer>.foot>.foot-z>dl a{
	color:#AAA5A1;
}
footer>.foot>.foot-z>dl>.kong{
	width:100%;
	margin:40px;
}
footer>.foot>.foot-z>dl>.kong>div{
	width:90px;
	height: 5px;
	background: #fff;
	position: relative;
	left:-40px;
}
footer>.foot>.foot-z>dl>dd{
	margin: 20px auto;
	letter-spacing: 5px;
}